AIRFLOW_UID=50000 #An airflow user ID which is 50000 by default
ACCESS_KEY=#Your S3 storage access key
SECRET_KEY=#Your S3 storage secret key
API_KEY=#Your Alpha Vantage API key
PROJECT_PATH=#Your project path using '/' as path separator, e.g. /your/project/path/
